{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

{% if commented %}
<div class="alert alert-success alert-dismissible fade show" id="msg" role="alert">
    Your comment is awaiting approval
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
{% if user.is_authenticated %}

<h3>Leave a comment:</h3>
<p>Posting as: {{ user.username }}</p>
<form method="post" style="margin-top: 1.3em;">
    {{ comment_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
</form>
{% endif %}
{% endif %}

{% endblock %}