#navbar {
  background-color: #FF6A6A;
}

.noMargin {
  margin: 10%;
}

.one {
  margin-right: 20%;
  width: 100%;

}

.two {
  margin-right: 20%;
  width: 100%;
}

.three {
  margin-right: 20%;
  width: 100%;
}

.four {
  margin-right: 20%;
  width: 100%;
}

.row {
  display: flex;
  width: 100% !important;
}

.row div {
  width: 100%;
}

/* Signup form*/

.btn-signup:hover,
.btn-signup:active {
  background-color: #008A1E;
  color: #fff; }