<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucia Trattoria</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <!-- Custom CSS link -->
     <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg" id= "navbar">
            <a class="navbar-brand" href="#"><img id="logo" src="../media/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Our mission </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
               
              </ul>
              <form class="form-inline my-2 my-lg-0">
               
                <button class="btn btn-success my-2 my-sm-0" type="submit">Sign in</button>
              </form>
            </div>
          </nav>

           
        </div>
        <div class="row mt-4">
            <div class="col-md-8 mx-auto text-center">
                <p class="text-black font-italic font-weight-normal" style="font-size: 26px;">
                    "Our vision is to bring authentic Neapolitan pizza from farm to table ingredients"
                </p>
                <img src="https://via.placeholder.com/610x401" class="img-fluid rounded" alt="Pizza Image">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <p class="text-black font-italic font-weight-normal" style="font-size: 24px;">
                    We are looking forward to your visit, please book a table in advance so we can give the best experience for your visit at our fine dining cottage
                </p>
            </div>
            <div class="col-md-6">
                <img src="https://via.placeholder.com/399x267" class="img-fluid rounded" alt="Fine Dining Image">
            </div>
        </div>
        <div class="bg-success py-4 text-center">
            <div class="container">
                <div class="row">
                   
                    <div class="col-md-6">
                        <p class="text-white font-weight-bold">
                            <u>Cookies</u> | <u>Privacy Policy</u> | <u>General Terms and Condition</u>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts here (if needed) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
