{% extends "base.html" %}


{% block content %}


<div class="container">
  <div class="row first">
    <div class="col-md-6">
      <img src="https://res.cloudinary.com/dcdxpqmxa/image/upload/v1694169799/pizza_xgswkd.png" class="img-fluid rounded" alt="Pizza Image">
    </div>
    <div class="col-md-6">
      <p class="text-black font-italic font-weight-normal content-text">
        "Our vision is to bring authentic Neapolitan pizza from farm to table ingredients"
      </p>
    </div>
  </div>
  <div class="row second">
    <div class="col-md-6">
      <p class="text-black font-italic font-weight-normal content-text">
        We are looking forward to your visit, please book a table in advance so we can give the best experience for your
        visit at our fine dining cottage
      </p>
    </div>
    <div class="col-md-6">
      <img src="https://res.cloudinary.com/dcdxpqmxa/image/upload/v1694169846/making-pizza_si8n6k.png" class="img-fluid rounded" id="img_making_pizza" alt="Fine Dining Image">
    </div>
  </div>
</div>

{%endblock%}