{% extends "base.html" %}

{% block content %}


<div class="container">
  <div class="row noMargin">
    <div class="col one">
      <img src="https://via.placeholder.com/610x401" class="img-fluid rounded" alt="Pizza Image">
    </div>
    <div class="col two">
      <p class="text-black font-italic font-weight-normal" style="font-size: 26px;">
        "Our vision is to bring authentic Neapolitan pizza from farm to table ingredients"
      </p>
    </div>
  </div>
  <div class="row noMargin">
    <div class="col three">
      <p class="text-black font-italic font-weight-normal" style="font-size: 24px;">
        We are looking forward to your visit, please book a table in advance so we can give the best experience for your
        visit at our fine dining cottage
      </p>
    </div>
    <div class="col four">
      <img src="https://via.placeholder.com/399x267" class="img-fluid rounded" alt="Fine Dining Image">
    </div>
  </div>
</div>

<div class="bg-success py-4 text-center">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <p class="text-white font-weight-bold">
          <u>Cookies</u> | <u>Privacy Policy</u> | <u>General Terms and Condition</u>
        </p>
      </div>
    </div>
  </div>
</div>
</div>

{%endblock%}